*{
    margin: 0;
    padding: 0;
}
#texto-fonte-root{
    font-size:3rem;

}

#texto-paddings-verticais{
    padding:2em 0;
}

#altura-porcentagem-comprimento{
    height: 20vw;
    background: pink;
}

#comprimento-metade-altura{
    width:50vh;
    background: yellow;
}

.container{
    border: 1px solid black;
    width: 400px;
    font-size: 20px;
}

#fonte-setenta{
    font-size: 0.7em;
    /* 70% */
}

#comprimento-pai{
        width: 10%;
        /* 0.1em */

}

#altura-pai{
    height: 10%;

}